/**
 * @Descripttion: 主背景色
 * @Author: zhusn-b
 */
$black_A1: #40474F;
$black_A2: #40474F;
$black_A3: #24272A;
$black_A4: #171717;
/**
 * @Descripttion: 辅助色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */
$black_B1: #3C689C;
$black_B2: #143F70;
/**
 * @Descripttion: 线色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */
$black_L1: #000000;
$black_L2: #5B636D;
// $black_L3: #5B636D;
$black_L3: rgba(255, 255, 255, 0.65);
$black_L4: #2B2E31;
$black_L5: #3C689C;
// $black_L6: #5B636D;
$black_L6: rgba(255, 255, 255, 0.1);
/**
 * @Descripttion: 表格背景
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */
$black_T0: #6B747F;
$black_T1: #30363E;
$black_T2: #40474F;
$black_T3: #3C689C;
/**
 * @Descripttion: 状态色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */

$black_S0: #40474F;
$black_S1: #3C689C;
$black_S2: #40474F;
$black_S3: #40474F;
$black_S4: #3C689C;
$black_S5: #FFC228;
$black_S6: #FF2E2E;
/**
 * @Descripttion: 文字色颜色值相同，透明度不同
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */

 $black_W1: rgba(255, 255, 255, .85);
 $black_W2: rgba(255, 255, 255, .65);
 $black_W3: rgba(255, 255, 255, .45);
 $black_W4: rgba(255, 255, 255, .25);
 $black_W5: rgba(255, 255, 255, .75);
 $black_W6: #FFFFFF;
 $black_W7: #FFFFFF;
 /**
 * @Descripttion: 图标色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */

 $black_C1: #FFFFFF;
 $black_C1: #FFFFFF;
 $black_C1: #FFFFFF;
 $black_C1: #FFFFFF;
 $black_C1: #FFFFFF;
 $black_C1: #FFFFFF;

 $black_svg: #ffffff;
 $black_icon: #ffffff;

 $black_boxshown_head: 0px 2px 3px 2px rgba(32,35,39,0.29);
 $black_boxshown_menu: 2px 2px 3px 2px rgba(32,35,39,0.29);
 $black_boxshown_time_top:0px -2px 4px 1px rgba(20,20,20,1);
 $black_boxshown_time_bottom:0px 2px 4px 1px rgba(20,20,20,1);

