/**
 * @Descripttion: 主背景色
 * @Author: zhusn-b
 */
$white_A1: #FFFFFF;
$white_A2: #FFFFFF;
$white_A3: #FBFBFB;
$white_A4: #FFFFFF;
/**
 * @Descripttion: 辅助色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */
$white_B1: #004DA5;
$white_B2: #DAEBFE;
/**
 * @Descripttion: 线色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */
$white_L1: #CFCFCF;
$white_L2: #D8D8D8;
$white_L3: #CBCBCB;
$white_L4: #ECECEC;
$white_L5: #004DA5;
$white_L6: #CBCBCB;
/**
 * @Descripttion: 表格背景
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */
$white_T0: #E3ECF6;
$white_T1: #EFEFEF;
$white_T2: #FFFFFF;
$white_T3: #92BBE7;
/**
 * @Descripttion: 状态色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */

$white_S0: #004DA5;
$white_S1: #DAEBFE;
$white_S2: #CBCBCB;
$white_S3: #004DA5;
$white_S4: #00E339;
$white_S5: #FFBA00;
$white_S6: #D40000;
/**
 * @Descripttion: 文字色颜色值相同，透明度不同
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */

 $white_W1: rgba(0,0,0, .85);
 $white_W2: rgba(0,0,0, .65);
 $white_W3: rgba(0,0,0, .45);
 $white_W4: rgba(0,0,0, .25);
 $white_W5: rgba(0,0,0, .75);
 $white_W6: #000000;
 $white_W7: #000000;
 /**
 * @Descripttion: 图标色
 * @Author: zhusn-b
 * @param {type} 
 * @return: 
 */

 $white_C1: #FFFFFF;
 $white_C1: #FFFFFF;
 $white_C1: #FFFFFF;
 $white_C1: #FFFFFF;
 $white_C1: #FFFFFF;
 $white_C1: #FFFFFF;

 $white_svg: #004DA5;
 $white_icon: #000000;

 $white_boxshown_head: 0px 2px 3px 2px rgba(217,220,227,0.29);
 $white_boxshown_menu: 0px 2px 3px 2px rgba(217,220,227,0.29);
 $white_boxshown_time_top:0px -2px 4px 1px rgba(232,232,232,1);
 $white_boxshown_time_bottom:0px 2px 4px 1px rgba(232,232,232,1);

 $T10: rgba(255, 255, 255, 1);
 $T10_3: rgba(255, 255, 255, .3);
 $T20: rgba(0, 0, 0, 1);
 $T20_1: rgba(0, 0, 0, .1);
 $T20_3: rgba(0, 0, 0, .3);

 $B10: rgba(60, 104, 156, 1);
 $B10_3: rgba(60, 104, 156, .3);
 $B11: rgba(82, 145, 221, 1);
 $B11_2: rgba(82, 145, 221, .2);
 $B11_3: rgba(82, 145, 221, .3);
 $B11_1: rgba(82, 145, 221, .1);
 $B12: rgba(20, 63, 112, 1);
 $B13: rgba(191, 218, 249, 1);


 $B20: rgba(89, 99, 112, 1);
 $B20_3: rgba(89, 99, 112, .3);
 $B21: rgba(110, 123, 139, 1);
 $B21_1: rgba(110, 123, 139, .1);
 $B21_2: rgba(110, 123, 139, .2);
 $B21_3: rgba(110, 123, 139, .3);
 $B22: rgba(55, 63, 72, 1);
 $B22_5: rgba(55, 63, 72, .5);
 $B22_75: rgba(55, 63, 72, .75);
 $B22_92: rgba(55, 63, 72, .92);
 $B23: rgba(29, 33, 37, 1);
 $B23_3: rgba(29, 33, 37, .3);
 $B24: rgba(215, 220, 222, 1);
 $B24_3: rgba(215, 220, 222, .3);
 $B25: rgba(246, 246, 246, 1);
 $B26: rgba(189, 199, 213, 1);